[init]
	defaultBranch = main
[user]
	email = niconecrofilo589@gmail.com
	name = lordagustin22
	signingkey = /home/utane/.ssh/id_ed25519.pub
# [protocol "file"]
    # allow = always
[commit]
	gpgsign = true
[gpg]
	format = ssh
