/*
!/.gitignore
!/.gitconfig

*.ical

!/Imagenes/walls/
!/.local/share/lockscreen.png
!/.local/bin/
!/.local/bin/**/*

# Whitelist these root files
!.zshrc
!.Renviron
!.gtkrc-2.0

# Whitelist specific .config subdirectories
!/.config/Kvantum
!/.config/calcurse
!/.config/dunst
!/.config/fastfetch
!/.config/foot
!/.config/gtk-4.0
!/.config/gtk-3.0
!/.config/hypr
!/.config/mpd
!/.config/mpv
!/.config/ncmpcpp
!/.config/nvim
!/.config/nwg-look
!/.config/qt5ct
!/.config/qt6ct
!/.config/rofi
!/.config/tmux
!/.config/waybar
!/.config/x11
!/.config/xsettingsd
!/.config/yt-dlp
!/.config/zathura
!/.config/brave-flags.conf
!/.config/code-flags.conf
!/.config/mimeapps.list
!/.config/user-dirs.dirs

.config/mpd/mpd.db
.config/mpd/mpdstate
.config/mpd/mpd.log
.config/mpd/mpd.pid
.config/mpv/watch_later/
.config/mpv/socket
.config/mpv/mpv_sub-delay.json
.config/nvim/*.lock.json
.config/ncmpcpp/lyrics
