# Ignore config directory
.*
snap
*SoulseekQt
k*
D*
R*
E*
I*
M*
M*
V*
P*

# Ignore filetypes
*.txt
*.pdf
*.mp3
*.mp4
*.gif
*.jpg
*.jpeg
*.png
*.m4a
*.ini
*.zip
*.rar
*.7z*
*.xls
*.xml
*.xcf
*.webm
*.mkv
*.log
*.aux
*.json
*.html
*.js
.gtk-bookmarks
.zcompdump
