/*
!/.gitignore

# !/.config/
# !/.config/**/*  # Include all subfiles/subdirs

!/Imagenes/walls/
!/.local/share/lockscreen.png
!/.local/bin/
!/.local/bin/**/*
!/.gitconfig

# Whitelist these root files
!.zshrc
!.Renviron

# Whitelist specific .config subdirectories
!/.config/
.config/BraveSoftware
.config/bspwm/
.config/x11/
.config/redshift
.config/Code
.config/GIMP
.config/PCSX2
.config/QtProject
.config/QtProject.conf
.config/VirtualBox
.config/calcurse
.config/cef_user_data
.config/cointop
.config/configstore
.config/dconf
.config/filezilla
.config/font-manager
.config/fontconfig
.config/galculator
.config/geogebra
.config/glib-2.0
.config/go
.config/inkscape
.config/keepassxc
.config/libfm
.config/libvirt
.config/mozc
.config/ncmpcpp/lyrics
.config/mpd/mpd.db
.config/mpd/mpdstate
.config/mpd/mpd.log
.config/mpd/mpd.pid
.config/mpv/watch_later/
.config/mpv/socket
.config/nextjs-nodejs
.config/nicotine
.config/obs-studio
.config/pavucontrol.ini
.config/pcmanfm
.config/vscode-sqltools
.config/wget
.config/whoozle.github.io
.config/wireplumber
.config/mutt
.config/smtp
.config/transmission
.config/transmission-daemon
