configuration {
modes: "drun,run,ssh,emoji,calc";
font: "JetBrainsMono Nerd Font Medium 10";
location: 0;
show-icons: true;
display-drun:               "";
display-run:                "";
display-filebrowser:        "";
display-window:             "";
drun-display-format:        "{name}";
window-format:              "{w} {c}";
icon-theme: "Gruvbox Plus Dark";
terminal: "foot";
ssh-client: "ssh";
ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";
dpi: 120;
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "./style.rasi"
