linear_filter 1

source dracula.config
startup_commands toggle_custom_color

# search engines (select text, press s, then the letter)
search_url_s	https://scholar.google.com/scholar?q=
search_url_a	https://arxiv.org/search/?query=
search_url_e	https://www.semanticscholar.org/search?q=
search_url_g	https://www.google.com/search?q=
search_url_w	https://en.wikipedia.org/w/index.php?search=
middle_click_search_engine	s
shift_middle_click_search_engine	e
